@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @media (max-width: 952px) {
    .hidden-below-922 {
      display: none !important;
    }
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
